.general-container {
  width: 70%;
  margin: auto;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: auto;
  padding-top: 2.5rem;
}

.header > div {
  width: 100%;
  text-align: center;
} 

.profile-container {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: auto;
}

.profile-container > img:nth-child(1) {
  width: 100%;
}

.profile-container > img:nth-child(2) {
  position: absolute;
  z-index: 99;
  right: 0;
  left: 40px;
  bottom: 11px;
  width: 25px;
  display: none;
  transition: all .5s ease;
}

.profile-container:hover .camera {
  display: block;
}

.profile-container::after {
  content: '';
  position: absolute;
  width: 100%;
  background: transparent;
  top: 0;
  border-radius: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .5s ease;
}

.profile-container:hover.profile-container::after {
  background: #344054BF;
}

.header > div:nth-child(1) > p:nth-child(2) {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 16px;
}

.header > div:nth-child(1) > p:nth-child(3) {
  display: none;
}

.header > span:nth-child(2) {
  border: 1px dashed #D0D5DD;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 0;
  transition: all .6s ease;
}

.header > span:nth-child(2):hover {
  background: #EAECF0;
}

.share-tooltip {
  position: relative;
  display: inline-block;
}

.share-tooltip .tiptext {
  visibility: hidden;
  position: absolute;
  margin: 0;
  width: 77px;
  font-size: 12px;
  background-color: #101828;
  filter: drop-shadow(1px 1px 8px #10182848);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  right: 50px;
  transition: visibility 0.3s;
}

.share-tooltip .tiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -5px;
  right: -21%;
  border:10px solid #101828;
  border-color: transparent transparent transparent #101828;
}

.share-tooltip:hover .tiptext {
  visibility: visible;
}

.share {
  display: block;
}

.menu {
  display: none;
}

.links{
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.links > a {
  background: #EAECF0;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: all .5s ease;
}

.links > a:hover {
  background: #D0D5DD;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}


.account > img {
  width: 25px;
}

.footer {
  margin-top: 6rem;
  border-top: 1px solid #EAECF0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > img {
  width: 130px;
  cursor: pointer;
}

.footer > p {
  color: #667085;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.error {
  height: 67vh;
  display: flex;
  align-items: center;
}

.error-container > p:nth-child(1) {
  color: #5925DC;
  font-weight: 600;
  font-size: 14px;
}

.error-container > h1 {
  color: #101828;
  font-size: 60px;
  margin: 1rem 0;
}

.error-container > p:nth-child(3) {
  color: #475467;
}

.error-link {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.error-link > a:nth-child(1) {
  text-decoration: none;
  color: #344054;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #D0D5DD;
  border-radius: 4px;
  padding: 15px 20px;
  transition: all .7s ease;
}

.error-link > a:nth-child(1):hover {
  border: 1px solid #5925DC;
  color: #5925DC;
}

.error-link > a:nth-child(2) {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  border: 1px solid transparent;
  background: #5925DC;
  border-radius: 4px;
  padding: 15px 20px;
  transition: all .7s ease;
}

.error-link > a:nth-child(2):hover {
  background: transparent;
  color: #5925DC;
  border: 1px solid #5925DC;
}

.error-link > a:nth-child(1) > img {
  width: 13px;
}

.contact-container {
  width: 80%;
  margin: auto;
}

.contact-container > h1 {
  color: #101828;
  font-weight: 700;
  margin-bottom: 0;
}

.contact-container > p {
  font-size: 13px;
  color: #475467;
}

.contact {
  margin-top: 2rem;
  width: 100%;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.contact > div > label, .contact-info > div > label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #344054;
}

.contact-info > div {
  width: 50%;
}

.contact div > input, .inpts {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 7px;
  font-weight: 500;
  outline: 0;
  border: 1px solid #D0D5DD;
}

.contact div > input:focus, .inpts:focus {
  border-color: #84CAFF;
  transition: all 0.5s ease;
} 

.message:focus {
  border-color: #84CAFF;
  transition: all 0.5s ease;
  box-shadow: 0 0 0 4px rgb(209, 233, 255);
}

.contact > div:nth-child(2), .contact > div:nth-child(3) {
  margin-bottom: 20px;
}

.err-msg.active {
  display: block;
  transition: all .8s ease;
}

.err-msg {
  font-size: 12px;
  color: #F83F23;
  display: none;
  margin-top: 0;
}

.message.active {
  border-color: #F89687;
}

.message:focus.active {
  box-shadow: 0 0 0 4px rgb(255, 211, 204);
}

.message {
  width: 100%;
  resize: none;
  height: 130px;
  padding: 12px 15px;
  box-sizing: border-box;
  border-radius: 7px;
  outline: 0;
  font-weight: 500;
  border: 1px solid #D0D5DD;
}

::placeholder {
  color: #667085;
  font-size: 13px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  color: #475467;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #D0D5DD;
  border-radius: 7px;
}

.container input:checked ~ .checkmark {
  background-color: transparent;
  border-color: #1570EF;
  transition: all 0.5s ease;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 10px;
  border: solid #1570EF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#btn__submit {
  display: inline-block;
  background: #1570EF;
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  padding: 17px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

#btn__submit:hover {
  background: #175CD3;
  transition: all .8s ease;
}


@media screen and (max-width: 774px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .menu {
    display: block;
  }

  .share {
    display: none;
  }

  .error-link {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .error-container > h1 {
    font-size: 40px;
  }

  .error-link > a {
    width: 100%;
    text-align: center;
  }

  .error-link > a:nth-child(1) {
    justify-content: center;
  }  

  .contact-info {
    flex-direction: column;
  }

  .contact-info > div {
    width: 100%;
  }

  .contact-container {
    width: 100%;
  }

}