.container {
  width: 70%;
  margin: auto;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: auto;
  padding-top: 2.5rem;
}

.header > span:nth-child(1) {
  width: 100%;
  text-align: center;
}

.header > span:nth-child(1) > p {
  font-weight: 700;
  font-size: 16px;
}

.header > span:nth-child(2) {
  border: 1px solid #D0D5DD;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 0;
}

.share {
  display: block;
}

.menu {
  display: none;
}

.links{
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.links > a {
  background: #EAECF0;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.account {
  /* margin-top: 2.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.account > a {
  text-decoration: none;
}

.account > a > img {
  width: 25px;
}

.footer {
  margin-top: 8rem;
  border-top: 1px solid #EAECF0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > img {
  width: 130px;
  cursor: pointer;
}

.footer > p {
  color: #667085;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 774px) {
  .account, .footer {
    display: none;
  }

  .header > span:nth-child(2) {
    border: 1px dotted #D0D5DD;
  }

  .menu {
    display: block;
  }

  .share {
    display: none;
  }
}